@import '../assets/base.scss';
body {
    // display: flex;
	// justify-content: center;
	text-align: center;
    font-size: 20px;
    color: red;
	@include _bg('../img/bg');
    .border1 {
		position: relative;
		margin: 20px auto 0;
	}
	.test {
		position: relative;
		margin-top: 10px;
		width: 100%;
	}
}
