@import '../assets/base.scss';
body {
    // display: flex;
	// justify-content: center;
	width: 100vw;
	height: 100vh;
	overflow: hidden;
	text-align: center;
    font-size: 20px;
	color: red;
	// padding-top: 20px;
	@include _bg('../img/bg');
	display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    overflow: hidden;

	.content {
		height: 100%;
		overflow: scroll;
		.bottom {
			position: fixed;
			width: 100vw;
			height: 100px;
			background-color: yellow;
			bottom: -100px;
		}
	}
	#test {
		margin-top: 1000px;
	}
	#test1 {
		margin-top: 2000px;
	}
	.text {
		transition: all 1s;
		// opacity: 0;
		display: none;
	}
	.showmask {
		position: fixed;
		top: 0;
		left: 0;
		right: 0;
		bottom: 0;
		width: 100%;
		height: 100%;
		font-size: 0;
		.mask, .maskscroll {
			position: absolute;
			top: 0;
			width: 100%;
		}
		.mask {
			opacity: 0.75;
			z-index: 99;
			background-color: #000;
		}
		.maskscroll {
			overflow-y: scroll;
			z-index: 100;
			.item {
				color: #fff;				
				height: 100px;
				border: 1px solid #fff;
				box-sizing: border-box;
			}
		}
	}
    .border1 {
		position: relative;
		// margin: 20px auto 0;
	}
	.scroll {
		width: 100%;
		height: 90vh;
		overflow-y: scroll;
		.item {
			max-width: 100%;
			width: 100%;
			height: 100px;
			border: 1px solid #000;
			box-sizing: border-box;
			padding-left: 20px;
			&:active {
				background-color: #eee;
			}
		}
	}
	.transform {
		position: relative;
		width: 102px;
		height: 178px;
		perspective: 1000;
		transform-style: preserve-3d;
		transition: transform 1s;
		.front, .back {
			display: block;
			position: absolute;
			width: 100%;
			height: 100%;
			background-size: 100% 100%;
			backface-visibility: hidden;
			transform-style: preserve-3d;
		}
		.front {
			background: url('../img/bg1.jpg') no-repeat center;
			z-index: 5;
		}
		.back {
			background: url('../img/bg2.jpg') no-repeat center;
			transform: rotateY(180deg);
		}
		.fliped {
			transform: rotateY(180deg);
		}
	}
}
